.orderContainer{
        margin-top: 105px;
}
.placeOrder-container{
    padding: 50px ;
}
.order-box{
    height: 530px;
    border:1px solid gray;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
}
.order-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin-top: 15px;
    
   
}
.order-box input,textarea{
    width: 60%;
    /* margin-bottom: 10px; */
    padding: 5px;
    margin-top: 25px;
    border-radius: 10px;
}
.details-container{
    padding: 30px 0;
}

.placeOrder-details{
    height: 480px;
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    /* border: 2px solid gray; */
    box-shadow: 5px 5px 10px rgba(171, 247, 255, 0.787);
    background-color: #BCC6CC;
    border: 2px solid black;
    border-radius: 10px;
}
.order-img img{
    width: 70%;
    height: 70%;
}
.order-btn{
    color: tomato;
}

.ordername{
    margin-top: 55px !important;
}