.gallery{
        margin-top: 110px !important;
        padding: 15px;
}

.bgcard1{
        background-color: #FFFFC2;
}
.bgcard2{
        background-color: #2C3539;
}
.bgcard3{
        background-color: #F5FFFA;
}
