@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
.brandnav{
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 400;
    font-size: 45px;
}

.fcolor{
    color: #FFA500;
}

.navcolor{
    color:#E67451!important;
    font-size: 18px;
}



.profile{
        height: 40px;
        width: 40px;
        border-radius: 50px;
        margin-left: 18px;
        
    }


    .logoutbtn{
       background-color: #E67451;
       width: 123px;
       border: none;
       padding: 12px;
       border-radius: 45px;
       color: white;
       font-weight: 500;
       font-size: 19px;
       box-shadow: 4px 3px 8px rgba(182, 181, 181, 0.548), -3px -3px 8px rgba(116, 116, 116, 0.5);
       margin: auto;
      }
      .spanname {
          color: white !important;
          font-size: 18px;
          font-weight: 200 !important;
      }

      /* #282828 */