@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

.bttncolor{
    background-color:  rgb(255, 112, 4) !important;
    margin: auto;
    border: none;
    padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    color: azure;
    }

   
    .font1{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    
   /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .carouselBg{
            
            height: 100vh;
            width: 100vw;
        }
        .captionposition{
            top: 40% !important;
            bottom: 60% !important;
        }  
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carouselBg {
       height: 100vh;
       width: 100vw;
       
    }
}
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .carouselBg{
           height: 100vh;
           width: 100vw;
           
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
            
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
           
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
        }

        .captionposition{
            top: 50%;
            bottom: 50%;
        }  
    }