@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
  overflow-x: hidden;
  
}
.bttncolor{
    background-color: #C04000 !important;
    margin: auto;
    border: none;
    padding: 10px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    color: azure;
    border-radius: 35px;
    }
        .font4{
            font-family: 'Raleway', sans-serif;
            font-size: 26px;
            color: black !important;
        }
   
        .font5{
            font-size: 55px !important;
            font-family: 'Fredoka One', cursive;
            color: black !important;
        }
   
        .font6{
            font-size: 22px !important;
            color: black !important;
        }
   
    .font1{
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
    }
    .font2{
        font-size: 55px !important;
        font-family: 'Fredoka One', cursive;
    }
    .font3{
        font-size: 22px !important;
    }
   /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .carouselBg{
            
            height: 100vh;
            width: 100vw;
        }
        .captionposition{
            top: 20% !important;
            bottom: 105% !important;
        }  
        .captionposition2{
          top: 20% !important;
          bottom: 110% !important;
      }  
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carouselBg {
       height: 100vh;
       width: 100vw;
       
    }
}
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .carouselBg{
           height: 100vh;
           width: 100vw;
           
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
            
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
           
        }
        
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .carouselBg{
            height: 100vh;
            width: 100vw;
            margin-top: 25px;
        }
        .captionposition{
            top: 10%;
            bottom: 125%;
        }  
        .captionposition2{
            top: 35%;
            bottom: 125%;
        }  


    }

   
      