

.orderbox{
    color: black;
    display: flex;
    padding: 10px;
    margin-left: 5px;
}

.orderbtn{
    border: none;
    background-color: tomato;
    padding: 7px;
    color: white !important;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}


.orderbtn2{
        border: none;
        padding: 7px 10px !important;
        color: black !important;
        text-decoration: none !important;
        border: none;
        background-color: navajowhite;
        font-weight: 400;
}

.btnorder{
    border: none;
        padding: 7px 10px !important;
        color: black !important;
        text-decoration: none !important;
        border: none;
        background-color: navajowhite;
        color: black;
        
}