@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
.products{
    margin-top: 165px;

}

.head{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}
.horizon{
    color: red;
    text-align: center;
}


.bed{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.shadowcard{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btttn{
    margin-top: 25px!important;
    padding: 10px 12px;
    background-color: rgb(255, 112, 4) !important;
    border: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-decoration: none;
}
